.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7), url(./Images/ImageDecor/image-00.png));
}

.carousel-img{
  height: 230px;
  width: 150px;
}

.carousel-prev, .carousel-next{
  color: red;
  filter: invert(1);
}

.main-color{
  background-color: rgb(53, 50, 53);
}